body {
    background: transparent;
}

.welcome {
    display: inline;
}

#multi-friend-select-form {
}
#multi-friend-select-form .friend {
    cursor: pointer;
    overflow: hidden;
    padding: 10px;
    text-align: center;
}
#multi-friend-select-form .friend .friendButton {
}
#multi-friend-select-form .friend .image {
}
#multi-friend-select-form .friend .name {
}
#multi-friend-select-form .friend .checkbox {
    display: none;
}
#multi-friend-select-form .send-button {
    margin: 0 auto;
    max-width: 400px;
}
